# General
bin/
target/
.classpath
.project
.settings
.DS_Store
.doc#
*.doc#
*.log
build/


# Intellij
.idea/
*.iml
*.iws
*.ipr
.gradle/
out/

# Node
node_modules/

# E2E Tests
src/test/frontend/cypress/sceenshots
src/test/frontend/cypress/videos
