# General
bin/
target/
.classpath
.project
.settings
.DS_Store
.doc#
*.doc#
*.log
build/
.factorypath

# Intellij
.idea/
*.iml
*.iws
*.ipr
.gradle/
out/

# vscode
.vscode/settings.json

# Node
node_modules/

# E2E Tests
src/test/e2e/cypress/screenshots/
src/test/e2e/cypress/videos/
src/main/antlr4/io/vlingo/schemata/codegen/antlr/SchemaVersionDefinitionLexer.tokens
gen/
